<form name="erc20tokenaccountapproveandcallForm" ng-controller="ERC20TokenAccountApproveAndCallFormCtrl" ng-submit="handleSubmit()">
 
 	<input type="hidden" name="uuid" ng-model="erc20token.uuid" required>
  	
  	<div>
	
 	<span id="to-span" class="to-span">
		<label for="to">{{'To:' | transl}}</label>
		<input type="text" class="form-to-input"name="to" ng-model="to.text" required>
 	</span>
	
  	<span id="tokenamount-span" class="token-form-amount-span">
		<label for="tokenamount">{{'Token Amount:' | transl}}</label>
		<input type="text" class="token-form-amount-input" name="tokenamount" ng-model="tokenamount.text" required>
 	</span>
 	
 	<span id="call-span" class="form-to-span">
		<label for="call">{{'Then Call:' | transl}}</label>
		<input type="text" class="form-address-input" name="call" ng-model="call.text" required>
 	</span>
	
	
 	</div>
 
 	<div class="token-form-walletused-div">
	
	<span id="walletused-span">
		<label for="walletused">{{'Wallet used:' | transl}}</label>
		<input type="text" name="walletused" ng-model="walletused.text" required>
 	</span>
	
 	</div>
 	<div>

	<span id="walletpassword-span" class="token-form-walletpassword-span">
		<label for="password">{{'Password:' | transl}}</label>
		<input type="password" class="token-form-walletpassword-input" name="walletpassword" ng-model="password.text">
 	</span>
 	
	<span id="gaslimit-span" class="form-gaslimit-span">
		<label for="gaslimit">{{'Gas limit:' | transl}}</label>
		<input type="text" class="form-gaslimit-input" name="gaslimit" ng-model="gaslimit.text" required>
	</span>
	
	<span id="gasprice-span" class="form-gasprice-span">
		<label for="gasprice">{{'Gas price:' | transl}}</label>
		<input type="text" class="form-gasprice-input" name="gasprice" ng-model="gasprice.text" required>
	</span>
	
  	<span class="form-actions">
            <button type="submit" >{{'Approve&Call' || transl}}</button>
	</span>
 
    </div>
    
    <div role="alert">
    </div>
</form>
