
<div id="ERC20TokensViewCtrl" ng-controller="ERC20TokensViewCtrl">
    
    <table class="table-contract-list">
    
		<tr>
	    	<td>{{'Name' | transl}}</td>
	    	<td>{{'Symbol' | transl}}</td>
	    	<td>{{'Total Supply' | transl}}</td>
	    	<td>{{'Decimals' | transl}}</td>
 	    	<td>{{'Status' | transl}}</td>
 	    	<td>{{'Description' | transl}}</td>
 	    	<td>&nbsp;</td>
    	</tr>
        
		<!-- local contracts --> 
        <tr ng-repeat="erc20token in localerc20tokens" class="{{$odd ? 'table-contract-list-tr-local-odd' : 'table-contract-list-tr-local-even'}}">
			<td><a ui-sref="home.erc20tokens.modify({uuid: erc20token.uuid})">{{erc20token.name}}</a></td>
	        <td>{{erc20token.symbol}}</td>
	        <td>{{erc20token.totalsupply}}</td>
	        <td>{{erc20token.decimals}}</td>
	        <td>{{erc20token.statusstring}}</td>
	        <td>{{erc20token.description}}</td>
	        <td class="table-contract-list-action-td"><a ui-sref="home.erc20tokens.delete({uuid: erc20token.uuid})">{{'remove from list' | transl}}</a></td>
        </tr>
    
		<!-- chain contracts --> 
        <tr ng-repeat="erc20token in chainerc20tokens" class="{{$odd ? 'table-contract-list-tr-chain-odd' : 'table-contract-list-tr-chain-even'}}">
			<td><a ui-sref="home.erc20tokens.view({uuid: erc20token.uuid})">{{erc20token.name}}</a></td>
			<td>{{erc20token.symbol}}</td>
	        <td>{{erc20token.totalsupply}}</td>
	        <td>{{erc20token.decimals}}</td>
	        <td>{{erc20token.statusstring}}</td>
	        <td>{{erc20token.description}}</td>
	        <td class="table-contract-list-action-td"><a ui-sref="home.erc20tokens.delete({uuid: erc20token.uuid})">{{'remove from list' | transl}}</a></td>
        </tr>

    </table>

</div>
