<div class="container">

<h2>{{'Modify ERC20 Token' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" ng-controller="ERC20TokenModifyFormCtrl" >

<div class="div-form-tabs">
	<div class="div-form-selected-tab"><span>{{'Modify ERC20 token' | transl}}</span></div>
	<div class="div-form-tab"><span><a ui-sref="home.erc20tokens.deploy({index: erc20token.index})">{{'Deploy ERC20 token' | transl}}</a></span></div>
</div>


<div class="div-form">

<div ng-include='"./dapps/erc20/angular-ui/partials/erc20token-modify-form.html"'></div>

</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->

<div class="band-separator"><hr></div>

<div id="view-band" class="view-band">

<div class="div-view-container" >

<div ng-include='"./dapps/erc20/angular-ui/partials/erc20token-cover-view.html"'></div>

</div><!-- div-view-container -->

</div><!-- /.container -->